* {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

body{
    background-color: #BADEF7 !important;
}

img {
    padding-top: 4px;
}

.heading {
    background-color: #388087;
    margin-bottom: 50px;   
}

h1.headingWrap{
    color: #F6F6F2;
    text-transform: uppercase;
    line-height: normal;
}

.container1 {
    margin: auto;
    width: 500px;
    border: 2px solid #388087;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 5%;
}

form.container1 label {
    color: #388087;
    font-size: 20px;
    margin-bottom: 0px;
    font-weight: 600;
}

form.container1 input {
    margin-bottom: 15px;
    font-weight: 600;
}

form.container1 button {
    margin-top: 30px;
    background-color: #388087;
    color: #F6F6F2;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 20px;
}

.container1 h2{
    text-align: center;
    border-bottom: 2px solid #388087 ;
    color: #388087;
    text-transform: uppercase;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
    font-size: 40px;
}

.container1 ul{
    padding: 0;
    list-style-type: decimal;
}

.container1 h3{
    font-weight: 600;
    color: #6FB3B8; 
    line-height: normal;
    font-size: 30px;
}

.container1 ul li {
    color: rgb(10, 137, 141);   
    font-weight: 600; 
    font-size: 20px; 
    margin-bottom: 16px; 
    list-style-position: inside;  
}

.container1 ul li .delete {
    margin-left: 30px;
    color: #F6F6F2;
    background-color: #388087;
    border: 1px solid #388087;
    border-radius: 25px;
    padding: 5px;
    font-size: 15px;
}

